{% extends "dashboard-layout.html" %}
{% block title %}
    Settings
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <form method="POST" action="/changepassword" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Change Password</h5>
                        <hr/>
                        <div class="row mt-2">
                          
                            {% if message %}
                                <div class="col-md-12">
                                    <div class="alert alert-primary" role="alert">
                                        {{ message }}
                                    </div>
                                </div>
                            {% endif %}
                        
                            <div class="col-md-3">
                                Current Password:
                            </div>
                            <div class="col-md-9">
                                <input name="current_password" class="form-control" id="current_password" placeholder="Enter current password" type="text"></div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    New Password:
                                </div>
                                <div class="col-md-9">
                                    <input name="New_password" class="form-control" id="pwd" placeholder="Enter new password" type="text"></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        Confirm Password:
                                    </div>
                                    <div class="col-md-9">
                                        <input name="confirm_password" class="form-control" id="pwd" placeholder="Enter new password" type="text"></div>
                                    </div>
                                </div>
                                
                                <div class="card-footer">
                                    <input type="submit" name="submit" class="btn btn-success"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            {% endblock %}
