{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css" />
{% endblock %}
{% block content %}
    <div class="centered">
    <h1>Password Manager</h1>
    <h2>Register</h2>
    <form action="/register.do" method="POST">
        <label for="newuser"><b>New User : </b></label>
        <input type="text" name="username" placeholder="Enter your username"/><br>
        <label for="password"><b>Password : </b></label>
        <input type="password" name="password"  placeholder="Enter password" /><br>
        <input type="submit" value="Submit" />

        <span class="error">
          {{ message }}
        </span>
    </form>
    </div>
{% endblock %}