{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css" />
    
{% endblock %}


{% block content %}
    <h1><div3>Password Manager</div3></h1>
    <div class="centered">
    <h1>Register</h1>
    
    <div class="imgcontainer">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTELg8Pd3s5IRgAw2doRjTeQMczRq3GJDynOJMbXt_RWHtNWCUisvgVyHdDiwC01MnDWXA&usqp=CAU">
      </div>    
    <form action="/register.do" method="POST">
        <label for="newuser"><b>New User : </b></label>
        <input type="text" name="username" placeholder="Enter your username"/><br>
        <label for="password"><b>Password : </b></label>
        <input type="password" name="password"  placeholder="Enter password" /><br>
        <input type="submit" value="Submit" />

        <span class="error">
          {{ message }}
        </span>
    </form>
    </div>
{% endblock %}