{% extends "dashboard-layout.html" %}
{% block title %}Notes{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        {% if edit_note %}
        <form method="POST" action="/notes/update/{{ edit_note['note_id']}}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit Note</h5>
                    <hr />
                    <div class="row mt-2">
                        <div class="col-md-3">
                            Note Title: 
                        </div>
                        <div class="col-md-9">
                            <input type="text" required class="form-control" value="{{ edit_note['note_title'] }}" name="note_title"/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3">
                            Note Content: 
                        </div>
                        <div class="col-md-9">
                            <textarea name="note_cont" id="mdtextarea">{{ edit_note['note_content'] }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" name="submit" class="btn btn-success"/>
                </div>
            </div>
        </form>
        {% elif view_note: %}
        <div class="col-md-12"> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ view_note.title }}</h5>
                    <hr />
                    {{ view_note.content | safe}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-12"> 
            <form method="POST" action="/notes/add">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create Notes</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Store your important notes here.</h6>
                        <hr />
                        <div class="row mt-2">
                            <div class="col-md-3">
                                Note Title: 
                            </div>
                            <div class="col-md-9">
                                <input type="text" required class="form-control" name="note_title"/>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3">
                                Note Content: 
                            </div>
                            <div class="col-md-9">
                                <textarea name="note_cont" id="mdtextarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" name="submit" class="btn btn-success"/>
                    </div>
                </div>
            </form>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Saved Notes</h5>
                        <hr/>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                        <th>Note Title</th>
                                        <th>Action</th>
                                </tr>
                            </thead>
                            {% for note in notes %}
                                <tr>
                                    <td>{{ note["note_title"] }}</td>
                                    <td>
                                        <a target="_blank" href="/notes/edit/{{ note['note_id'] }}">Edit</a>
                                        <a target="_blank" href="/notes/view/{{ note['note_id'] }}">View</a>
                                        <a onclick="return confirm('Are you sure that you want to delete this note?')" href="/notes/delete/{{ note['note_id'] }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script>
const easyMDE = new EasyMDE({element: document.getElementById('mdtextarea')});
</script>
{% endblock %}
