{% extends "dashboard-layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<form method="POST" action="/pswrd_descs/add">
    Username
    <input type="text" name="pswrd_desc_title"/>
    Password
    <input type="text" name="pswrd_desc_cont"/>
    Password description
    <input type="text" name="pswrd_desc_desc"/>
    
    <input type="submit" name="submit"/>
    
</form>
<table>
    {% for bookmark in pswrd_descs %}
        <tr>
            <td>{{ pswrd_desc["pswrd_desc_title"] }}</td>
            <td>{{ pswrd_desc["pswrd_desc_desc"] }}
            </td>
            <td>
                <a href="{{ pswrd_desc['pswrd_desc_url'] }}">View</a>
            </td>
            <td>
                <a href="/pswrd_descs/delete/{{ pswrd_desc['pswrd_desc_id'] }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}