<form method="POST" action="/bookmarks/add">
    <input type="text" name="bookmark_title"/>
    <input type="text" name="bookmark_url"/>
    <input type="text" name="bookmark_desc"/>
    <input type="submit" name="submit"/>

</form>
<table>
    {% for bookmark in bookmarks %}
        <tr>
            <td>{{ bookmark["bookmark_title"] }}</td>
            <td>{{ bookmark["bookmark_desc"] }}
            </td>
            <td>
                <a href="{{ bookmark['bookmark_url'] }}">View</a>
            </td>
            <td>
                <a href="/bookmarks/delete/{{ bookmark['bookmark_id'] }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
