{% extends "dashboard-layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
    <title>Login</title>

{% endblock %}
{% block content %}
<form method="POST" action="/notes/add">
    <input type="text" name="note_title"/>
    <input type="text" name="note_cont"/>
    <input type="submit" name="submit"/>

</form>
<table>
    {% for note in notes %}
        <tr>
            <td>{{ note["note_title"] }}</td>
            </td>
            <td>
                <a href="{{ note['note_url'] }}">View</a>
            </td>
            <td>
                <a href="/notes/delete/{{ note['note_id'] }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
